html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;

  background: var(--pico-background-color);
}

#viewport {
  width: 100%;
  height: 100%;
  touch-action: none;
  outline: none;
  z-index: 0;
}

.panel-left {
  color: white;
  position: absolute;
  top: 1em;
  left: 1em;
  width: 480px;
}

.panel-left,
.panel-left h2,
.panel-left h3 {
  font-family: monospace;
}

.panel-left .measurements {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 0.25rem 1rem;
  margin: 0;
}

.panel-left .measurements dt,
.panel-left .measurements dd {
  margin: 0;
}
